html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* background: url(/assets/images/login_bg.jpg)no-repeat center; */
  /* background-size: cover; */
}
/* .bg-picture{
  
  width: 700px;
  height: 500px;
} */
.bg-picture img{
  width: 700px;
  height: 500px;
}
.loginAndRegBox{
  width:400px ;
  height: 310px;
  background-color: rgba(96, 174, 219, 0.356);
  position: absolute;
  left: 60%;
  top: 20%;
  /* transform: translate(-50%,0%); */
}
.title-box{
  height: 60px;
  text-align: center;
  font-size: 35px;
  color: #fff
}
.layui-form{
  padding: 0 30px;
}
.reg-box{
  display: none;
}
/* .input-color{
  background-color: rgba(235, 164, 106, 0.5);
} */
.button-color{
  background-color: rgb(68, 0, 255);
}

/* 右对齐 */
.links{
  display: flex;
  justify-content: flex-end;
}
.links a{
  font-size: 13px;
}
.layui-form-item{
  position: relative;
}
.layui-icon{
  position: absolute;
  left: 10px;
  top: 10px;
}
.layui-input{
  padding-left: 32px;
  background-color: rgba(85, 162, 250, 0.5);
}
